---
import { getSimplePaginatedPhotos } from '../utils/simple-wordpress-api';

let debugInfo = {};
let error = null;

try {
  const result = await getSimplePaginatedPhotos(1, 9);
  debugInfo = {
    totalPhotos: result.photos.length,
    totalPages: result.totalPages,
    currentPage: result.currentPage,
    hasNextPage: result.hasNextPage,
    photos: result.photos.map(photo => ({
      id: photo.id,
      title: photo.title.substring(0, 50) + '...',
      src: photo.src.substring(photo.src.lastIndexOf('/') + 1),
      postTitle: photo.postTitle.substring(0, 30) + '...'
    }))
  };
} catch (err: any) {
  error = err.message;
}
---

<html>
<head>
  <title>Simple API Debug</title>
</head>
<body>
  <h1>Simple API Debug Information</h1>
  
  {error && (
    <div style="color: red;">
      <h2>Error:</h2>
      <p>{error}</p>
    </div>
  )}
  
  <h2>Simple Posts Data:</h2>
  <pre>{JSON.stringify(debugInfo, null, 2)}</pre>
  
  <p>
    <a href="/">Inicio</a> | 
    <a href="/gallery">Galería</a> | 
    <a href="/gallery?page=2">Galería página 2</a>
  </p>
</body>
</html>
